PORT=3003
MONGODB_URI=mongodb://localhost:27017/social_media_db
NODE_ENV=development
cloud_name=your_cloudinary_cloud_name
api_key=your_cloudinary_api_key
api_secret=your_cloudinary_api_secret
RABBITMQ_URL=amqp://localhost:5672